<template>
  <div class="app-container">
    <div class="wrapper">
      <code>
        广州越洋微信推送项目
      </code>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  width: 800px;
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
}
</style>
