<template>
    <el-dialog title="修改密码" :visible.sync="editPwdDialogVisible"  size="tiny" >
        <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="80px" label-position="left" >
            <el-form-item label="原密码" prop="oldPassword" style="margin-bottom:30px;">
                <el-input type="password" v-model="ruleForm.oldPassword"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="newPassword" style="margin-bottom:30px;">
                <el-input type="password" v-model="ruleForm.newPassword"></el-input>
            </el-form-item>
             <el-form-item label="确认密码" prop="confirmPassword">
                <el-input type="password" v-model="ruleForm.confirmPassword"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="save">确定</el-button>
            <el-button @click="editPwdDialogVisible=false" v-loading.fullscreen.lock="editPwdLoading " element-loading-text="Loading">取消</el-button>
        </div>
    </el-dialog>
</template>
<script>
import {changePwd} from 'api/login';
export default {
    name: 'updatePwd',
    data() {
        return {
            editPwdDialogVisible: false,
            editPwdLoading: false,
            ruleForm: {
                newPassword: '',
                oldPassword: '',
                confirmPassword:''
            },
            rules: {
                newPassword: {
                    required: true,
                    validator: (rule, value, callback) => {
                        if (value) {
                            if (!/^[a-zA-Z0-9]\w{5,15}$/.test(value)) {
                                return callback('密码长度在6~16之间，只能包含字母、数字和下划线')
                            }
                            else {
                                return callback();
                            }
                        } else {
                            return callback('请输入新密码');
                        }
                    },
                    tigger: 'change'

                },
                oldPassword: {
                    required: true,
                    validator: (rule, value, callback) => {
                        if (value) {
                            if (!/^[a-zA-Z0-9]\w{5,15}$/.test(value)) {
                                return callback('密码长度在6~16之间，只能包含字母、数字和下划线')
                            }
                            else {
                                return callback();
                            }
                        } else {
                            return callback('请输入原密码');
                        }
                    },
                    tigger: 'change'
                },
                confirmPassword:{
                     required: true,
                    validator: (rule, value, callback) => {
                        if (value) {
                            if (!/^[a-zA-Z0-9]\w{5,15}$/.test(value)) {
                                return callback('密码长度在6~16之间，只能包含字母、数字和下划线')
                            }
                            else if (value !== this.ruleForm.newPassword) {
                                callback(new Error("两次输入的密码不一致"));
                            } 
                            else {
                                return callback();
                            }
                        } else {
                            return callback('请再次输入密码');
                        }
                    },
                    tigger: 'change'
                }
            }
        }
    },
    methods: {
        showDialog: function () {
            this.editPwdDialogVisible = true
        },
        save: function () {
            this.$refs['ruleForm'].validate((valid) => {
                if (valid) {
                    changePwd(this.ruleForm.newPassword,this.ruleForm.oldPassword).then(res=>{
                        this.$alert('修改密码成功', '提示', {
                             confirmButtonText: '确定',
                             callback: action => {
                                  this.$store.dispatch('LogOut').then(() => {
                                        location.reload();// 为了重新实例化vue-router对象 避免bug
                                    });
                             }
                             });
                    }).catch((err)=> {
                        console.error(err);
                    })
                }
            })
        }
    }

}
</script>

