<template>
    <div>
        <div class="table-toolbar">
            <el-input style="width:250px;" placeholder="请输入分组名称" v-model="inputKeyword" @keyup.enter.native="searchLabel"></el-input>
            <el-button style="margin-left: 10px;" type="info" icon="search" @click="searchLabel()">搜索</el-button>
            <el-button style="margin-left: 10px;" type="info" @click="showAddDialog()">添加分组</el-button>
        </div>

        <div class="table-container">
            <el-table :data="labelData" border style="width: 100%" v-loading.lock="fullscreenLoading" element-loading-text="Loading">
                <el-table-column prop="name" label="分组名称">
                </el-table-column>
                <el-table-column label="操作">
                    <template scope="scope">
                        <el-button type="text" @click="editLabel(scope.$index, scope.row)">编辑</el-button>
                        <el-button type="text" @click="deleteLabel(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="编辑" v-bind:visible.sync="editDialog" @close="editCloseDialog" size="tiny" top="10%">
            <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="120px" label-position="left">
                <el-form-item label="分组名称" prop="name">
                    <div>
                        <el-input v-model="ruleForm.name" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editSave()">保存</el-button>
                <el-button @click="editCancle('ruleForm')">取消</el-button>
            </div>
        </el-dialog>

        <el-dialog title="添加" v-bind:visible.sync="addDialogFormVisible" @close="addCloseDialog" size="tiny" top="10%">
            <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="120px" label-position="left">
                <el-form-item label="分组名称" prop="name">
                    <div>
                        <el-input v-model="ruleForm.name" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="saveAddLabel()">保存</el-button>
                <el-button @click="addCloseDialog('ruleForm')">取消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import customerManager from 'api/customerManager';
export default {
    data() {
        return {
            labelData: [],
            industryItems: [],
            ruleForm: {
                id: 0,
                name: ""
            },
            rules: {
                name: {
                    required: true,
                    message: '请输入分组名',
                    trigger: 'change'
                }
            },
            inputKeyword: '',
            loading: false,
            editDialog: false,
            addDialogFormVisible: false,
            dialogTitle: '',
            fullscreenLoading: false,
            currentPage: 1,
            pageSizes: [10, 20, 50, 100],
            pageSize: 10,
            total: 0
        }
    },
    created: function() {
        this.getindustryItems();
    },
    mounted: function() {
        // this.getindustryItems();
    },
    methods: {
        //搜索事件
        searchLabel: function() {
            this.getindustryItems();
        },
        //编辑
        editLabel: function(index, row) {
            this.editDialog = true;
            this.$nextTick(() => {
                this.ruleForm.id = row.id;
                this.ruleForm.name = row.name;
            })
        },
        //获取会员分组分组信息
        getindustryItems: function() {

            this.labelData = [];
            customerManager.searchLabelList(this.pageSize, this.currentPage, this.inputKeyword).then((res) => {
                this.labelData = res.data.rows;
                this.total = res.data.count;
            }).catch((err) => {
                this.fullscreenLoading = false;
                console.error(err);
            })
        },

        //同步分组
        syncLabel: function() {

            this.fullscreenLoading = true;
            this.labelData = [];
            customerManager.syncLabel().then((response) => {
                console.log(response);
                this.fullscreenLoading = false;
                this.labelData = response.data.rows;
                this.total = response.data.count;

            }).catch((err) => {
                this.fullscreenLoading = false;
                console.error(err);
            })
        },

        showAddDialog: function() {
            setTimeout(() => {
                if (this.$refs['ruleForm']) {
                    this.$refs['ruleForm'].resetFields();
                }
                this.rules.name.required = true;
                this.addDialogFormVisible = true;
            }, 0)
        },
        addCloseDialog: function() {
            if (this.$refs['ruleForm']) {
                this.$refs['ruleForm'].resetFields();
            }
            this.rules.name.required = false;
            this.addDialogFormVisible = false;
        },
        saveAddLabel: function() {

            this.$refs['ruleForm'].validate((valid) => {

                if (valid) {
                    this.fullscreenLoading = true;
                    var data = {
                        "name": this.ruleForm.name,
                    }
                    customerManager.addLabel(data).then((response) => {
                        console.log(response);
                        if (this.$refs['ruleForm']) {
                            this.$refs['ruleForm'].resetFields();
                        }
                        this.$message.success('添加成功!');
                        this.fullscreenLoading = false;
                        this.addDialogFormVisible = false;
                        this.getindustryItems();

                    }).catch((err) => {
                        this.fullscreenLoading = false;
                        console.error(err);
                    })
                } else {
                    this.$nextTick(() => {
                        this.$refs['ruleForm'].showMessage = true;
                        this.rules.name.required = true;
                    })
                }
            });
        },

        //删除分组信息
        deleteLabel: function(index, row) {
            this.$confirm("您确定要删除该条记录？删除后无法恢复", "提示", {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.fullscreenLoading = true;
                var data = {
                    "id": row.id,
                }
                customerManager.deleteLabel(data).then((response) => {
                    console.log(response);
                    this.$message.success('删除成功!');
                    this.fullscreenLoading = false;
                    this.getindustryItems();
                }).catch((err) => {
                    this.fullscreenLoading = false;
                    console.error(err);
                })
            }).catch(() => {
            });

        },

        //关闭编辑弹框
        editCloseDialog: function() {
            if (this.$refs['ruleForm']) {
                this.$refs['ruleForm'].resetFields();
            }
            this.editDialog = false;
        },
        editCancle: function() {

            if (this.$refs['ruleForm']) {
                this.$refs['ruleForm'].resetFields();
            }
            this.editDialog = false;
        },
        //保存
        editSave: function() {

            this.$refs['ruleForm'].validate((valid) => {
                if (valid) {
                    this.fullscreenLoading = true;
                    var data = {
                        "id": this.ruleForm.id,
                        "name": this.ruleForm.name,
                    }
                    customerManager.refreshLabel(data).then((response) => {
                        console.log(response);

                        if (this.$refs['ruleForm']) {
                            this.$refs['ruleForm'].resetFields();
                        }
                        this.rules.name.required = false;

                        this.$message.success('编辑成功!');
                        this.fullscreenLoading = false;
                        this.editDialog = false;
                        this.getindustryItems();

                    }).catch((err) => {
                        this.fullscreenLoading = false;
                        console.error(err);
                    })
                }
            });
        },

        handleSizeChange(val) {
            this.pageSize = val;
            this.getindustryItems();
        },
        handleCurrentChange(val) {
            this.currentPage = val;
            this.getindustryItems();
        }
    }
}
</script>
